:root {
  /* Font */
  --font-family-inconsolata: "Inconsolata";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --default-font-size: 20px;

  /* Color */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
}

/* Fonts */
@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

/* Color Classes */
.neutral-0 {
  color: var(--neutral-0);
}

.neutral-300 {
  color: var(--neutral-300);
}

.neutral-500 {
  color: var(--neutral-500);
}

.neutral-700 {
  color: var(--neutral-700);
}

.neutral-900 {
  color: var(--neutral-900);
}

.orange-500 {
  color: var(--orange-500);
}

.orange-700 {
  color: var(--orange-700);
}

/* Elements */
body {
  background-image: url("../assets/images/background-desktop.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: var(--default-font-size);
  color: var(--neutral-0);
}

@media (max-width: 375px) {
  body {
    background-image: url("../assets/images/background-mobile.png");
  }
}

header {
  display: flex;
  justify-content: center;
  margin: 38px 0px;
}

body,
button,
input {
  font-family: var(--font-family-inconsolata);
}

h1 {
  font-size: 36px;
  font-weight: var(--font-weight-extrabold);
}

p {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
}

input::placeholder {
  color: var(--neutral-300);
}

label {
  font-weight: var(--font-weight-regular);
}

/* Buttons */
.btn-submit {
  background-color: var(--orange-700);
  color: var(--neutral-900);
  font-weight: var(--font-weight-extrabold);
  font-size: 18px;
  border: none;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* Forms - Ticket Form */
#ticket-form-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 20px 20px;
  max-width: 420px;
}

.ticket-form-group {
  margin-bottom: 32px;
}

#upload-label,
#upload-label span,
#ticket-form label {
  display: block;
  margin-bottom: 16px;
  color: var(--neutral-300)
}

.ticket-form-group input,
#form-submit-button {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.ticket-form-group input,
#form-submit-button,
#ticket-form-file-upload {
  border-radius: 12px;
}

.ticket-form-group input:hover,
#form-submit-button:hover,
.avatar-upload-group:hover #ticket-form-file-upload {
  opacity: 0.9;
}

.ticket-form-group input[type="text"],
.ticket-form-group input[type="email"] {
  border: 0.5px solid var(--neutral-500);
  color: var(--neutral-0);
}

.ticket-form-group input[type="file"] {
  display: none;
}

#ticket-form-file-upload,
#preview-container {
  border: none;
  padding: 20px;
  color: #8784a4;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23d2d1d6' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#file-upload-tip {
  margin: 0px;
}

#ticket-form input,
#ticket-form-file-upload,
#preview-container {
  background-color: hsla(0, 0%, 100%, 0.08);
}

.ticket-form-group #ticket-form-file-upload img,
#preview-image {
  width: 46px;
  height: 46px;
  padding: 0px;
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 70%, 0.25);
  background-color: hsla(0, 0%, 70%, 0.2);
}

.ticket-form-group #ticket-form-file-upload:hover {
  cursor: copy;
}

/* Welcome Section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  padding-bottom: 36px;
}

#welcome-section h1 {
  max-width: 640px;
  margin: 0px;
}

#welcome-section p {
  color: var(--neutral-300);
  font-size: 22px;
  line-height: 1.4em;
}

#welcome-message-fullname {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  color: transparent;
}

#secondary-welcome-message-email {
  color: var(--orange-700);
}

/* Preview Actions */
.preview-actions {
  display: flex;
  gap: 0.5rem;
}

.preview-actions button {
  font-size: 12px;
  color: var(--neutral-300);
  border: none;
  border-radius: 2px;
  padding: 6px;
  background-color: hsla(0, 0%, 70%, 0.2);
}

#remove-image-btn {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
}
