body {
  background-color: #1b1b2f;
}

.ticket-container {
  position: relative;
  max-width: 460px;
  margin: 24px auto;
}

.ticket-svg {
  height: 100%;
  width: 100%;
  display: block;
}

.ticket-main-info-container {
  position: absolute;
  top: 10%;
  left: 4%;
  display: flex;
  flex-direction: column;
}

.logo {  
  margin-bottom: 0.5rem;
}

.date-location {
  font-size: 0.8rem;
  color: var(--neutral-500)
}

.avatar-section {
  position: absolute;
  bottom: 10%;
  left: 4%;
  display: flex;
  align-items: center;
}

.avatar-section #ticket-avatar {
  width: 50px;
  height: 50px;
  border-radius: 16%;
  margin-right: 0.6rem;
}

.name-info {
  color: white;
}

#ticket-fullname {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

#ticket-github-username {
  font-size: 0.9rem;
  color: #ccc;
}

.github-container {
  display: flex;
  align-items: center;
}

.github-container .github-logo {
  width: 16px;
  height: 16px;
  margin-right: 0.3rem;
}

@media (max-width: 375px) {
  .ticket-container {
    max-width: 300px;
  }

  .logo {
    font-size: 1rem;
  }

  .date-location {
    font-size: 0.7rem;
  }

  .avatar-section img {
    width: 35px;
    height: 35px;
  }

  #ticket-fullname {
    font-size: 0.9rem;
  }

  #ticket-github-username {
    font-size: 0.7rem;
  }
}
