body {
  background-color: #1b1b2f;
}

#ticket-section {
  display: flex;
  justify-content: center;
}

.ticket-container {
  position: relative;
  max-width: 460px;
  margin: 0px 8px;

}

.ticket-svg {
  height: 100%;
  width: 100%;
  display: block;
}

.ticket-main-info-container {
  position: absolute;
  top: 10%;
  left: 4%;
  display: flex;
  flex-direction: column;
}

.logo {  
  margin-bottom: 0.5rem;
}

.date-location {
  font-size: 0.8rem;
  color: var(--neutral-500)
}

.avatar-section {
  position: absolute;
  bottom: 10%;
  left: 4%;
  display: flex;
  align-items: center;
}

.avatar-section #ticket-avatar {
  width: 50px;
  height: 50px;
  border-radius: 16%;
  margin-right: 0.6rem;
}

#ticket-fullname {
  color: var(--neutral-300);
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
  margin-bottom: 0.3rem;
}

#ticket-github-username {
  color: var(--neutral-500);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
}

.github-container {
  display: flex;
  align-items: center;
}

.github-container .github-logo {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}
